p {
  font-family: "Times New Roman", serif;
  /* font serifada tem bordas redondas */
  font-family: sans-serif;
  /* não tem bordas */
  font-weight: bold;
  font-style: oblique;
  font-size: 1.2em;
  font-variant: small-caps;
  /* altera bem as fonts */
  font-stretch: expanded;
  /* ele pode mudar a forma de tamanhos */
  letter-spacing: 4px;
  /* espaçamento entre letras */
  word-spacing: 4px;
  /* espaçamento entre palavras */
  line-height: 1.6;
  text-transform: lowercase;
  text-decoration: underline;
  text-align: center;
  text-shadow: 2px 2px red;

  /* também podemos agrupar fonts em shorthand,
  tudo junto. */
}
